#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
  }

  p{
      color: rgb(192, 189, 189);
      font-size: 12px;
      padding-left: 80px;
  }
  .arrowup{
      color: black;
      display: block;
  }
  button{
      background-color: white;
    width: 35px;
    height: 30px;
    position: relative;
    border-radius: 100%;
  }