<div class="container">
  <h1>Lastest News</h1>

  <div class="page">

    <section>
      <div class="flexposts">
        <div>
          <mat-card class="example-card" *ngFor="let post of lastestnews">
            <div (click)="detail(post)">
              <img mat-card-image [src]="post.urlToImage" alt="Photo of a Shiba Inu">
              <mat-card-content>
              <span>
                {{post.source.name}}
              </span>
              <p>
                {{post.title}}
              </p>
              By <span class="author">
                {{post.author}}
              </span>
  
            </mat-card-content>
            <mat-card-actions class="actions">
              <button mat-button>
                <i class="fa fa-share"></i>345
                <i class="fa fa-comment" aria-hidden="true"></i>
                15
              </button>
            
           </mat-card-actions>
            </div>
         
          </mat-card>
        </div>
        <div>
          <mat-card class="example-card" *ngFor="let post of lastestnews">
            <div (click)="detail(post)"> 
            <img mat-card-image [src]="post.urlToImage" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <span>
                {{post.source.name}}
              </span>
              <p>
                {{post.title}}
              </p>
              By <span class="author">
                {{post.author}}
              </span>
            </mat-card-content>
            <mat-card-actions class="actions">
              <button mat-button>
                <i class="fa fa-share"></i>345
                <i class="fa fa-comment" aria-hidden="true"></i>
                15
              </button>
           </mat-card-actions>
          </div>
          </mat-card>
        </div>
      </div>

      <div>
        <h2>Editiors Picks</h2>
        <div class="Editiorspost">
          <div class="recentpost" *ngFor="let post of recents" >
            <div (click)="detail(post)">
              <img class="imgside" [src]="post.urlToImage">
            </div>
            <div (click)="detail(post)">
              <h2 class="h2">
                {{post.title}}
              </h2>
              <p class="descript">{{post.description}}
              <br>
              BY <span class="author">  {{post.author}}</span>
            </p>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </section>
    <aside>
      <h2>Recent Posts</h2>
      <div class="mainrecentpost">
        <div class="recentpost" *ngFor="let post of recents">

          <div (click)="detail(post)">
            <img class="imgside" [src]="post.urlToImage">
          </div>
          <div (click)="detail(post)">
            {{post.title}}
            <br>
            <span>{{post.publishedAt}}</span>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>



    
        <div class="popular">
          <h2>5 most popular</h2>
          <div class="popularpostss" *ngFor="let post of populars;let i=index;">
            <div (click)="detail(post)">
              <p> {{i+1}}
                {{post.title}}</p>
              <mat-divider></mat-divider>
              </div>
           
          </div>
        </div>
   
      <div class="goodnews">
        <h2>Good News Newsetter</h2>
        <p>Suscribe to our email Newsetter for good news sent out every monday </p>
        <div class="suscribe">
          <input matInput placeholder="email">
          <button class="Subscribebtn">Subscribe</button>
        </div>
      </div>
      <div class="followus">
        <h2>Follow Us</h2>
        <i class="fa fa-facebook-square" ></i>
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-google-plus-square" ></i>
        <i class="fa fa-youtube-square" ></i>
        <i class="fa fa-linkedin-square" ></i>
        <i class="fa fa-tumblr-square"></i>
      </div>
    </aside>
    <footer>
    <mat-divider></mat-divider>
      <h1 class="trend">Trending</h1>
      <div class="flextrend">
        <mat-card class="trent-card" *ngFor="let post of tendposts">
          <div (click)="detail(post)">
            <img mat-card-image [src]="post.urlToImage" alt="Photo of a Shiba Inu">

            <span>
              {{post.publishedAt}}
            </span>
            <h2 class="h2">
              {{post.title}}
            </h2>
          </div>
       
        

        </mat-card>

      </div>

    </footer>

  </div>



</div>