<div class="container">
<h1> {{post.title}}</h1>
<p>By <span>
  {{post.author}}
</span> Published on {{post.publishedAt}}</p>
<mat-divider></mat-divider>
<div class="row">
    
    <div >
        <div class="sharesocial">
           <h2 class="numbershare">
            23 
           </h2> 
           <h2 class="share">share</h2>
           <hr>
           <p class="socialicon">  
             <i class="fa fa-envelope"></i> Email </p><hr>
            <p class="socialicon">
              <i class="fa fa-facebook" ></i> FaceBook
            </p> <hr>
            <p class="socialicon">
                <i class="fa fa-twitter"></i> Twitter 
                </p><hr>
                <p class="socialicon">
                    <i class="fa fa-share"></i>  More 
                </p>

        </div>
    </div>
    <div >
        <mat-card class="example-card">
            <img class="img" mat-card-image [src]="post.urlToImage" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h4>
                {{post.description}}
              </h4>
            </mat-card-content>
            <mat-card-actions>
              <button class="like" mat-button><i class="fa fa-thumbs-up"></i>
                I found this helpful</button>
              <button class="dislike" mat-button>   <i class="fa fa-thumbs-down"></i>Idon't found this helpful</button>
            </mat-card-actions>
            <div>
                <h4>Comments</h4>
                <div class="comments">
                    <mat-card class="recentnews" *ngFor="let comment of commentsarr">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">
                          <img class="imgside" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                              
                          </div>
                          <mat-card-title>{{comment.Name}}</mat-card-title>
                          <mat-card-title>{{comment.Message}}</mat-card-title>

                        </mat-card-header>
                        
                  </mat-card>
                </div>
                <h4>Join the Conversations</h4>
                <div class="form">
                          <form [formGroup]="conversationform">
                            <mat-form-field appearance="outline">
                              <input type="text"  matInput placeholder="Name" formControlName="Name" required>
                            </mat-form-field>
                      
                      
                            <mat-form-field appearance="outline">
                              <input type="email" matInput placeholder="Email" formControlName="Email" required>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="outline">
                                <textarea matInput placeholder="Message" formControlName="Message"></textarea>
                              </mat-form-field>
                            <div >
                              <button class="button" type="submit" mat-button (click)="conversation()" [disabled]="!conversationform.valid">Send</button>
                            </div>
                           
                      
                          </form>
                      
                      
                </div>
            </div>
          </mat-card>
    </div>
    </div>
</div>
