.container{
    background-color: white;
}
.row {
    display: grid;
    background-color: white;
grid-template-columns: 30% 70%;
  grid-column-gap: 3px;
}

.img{
    width: 50%;
    
}
.sharesocial{
    border: 1px solid #aaa;
    width: 100px;
    height: 260px;
    margin: 20px;
}
.numbershare{
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}
.share{
  color: black;
  text-align: center;
}
.socialicon
{
  text-align: center;

}
.imgside{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
mat-card{
    margin: 40px;
  }
  .mat-form-field {
    width: 100%;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  mat-card-title{
    color: rgb(131, 131, 180);

  }
  .button{
    background-color:rgb(197, 46, 46);
    color: white;
    width: 100px;
  }
  span{
    color: red;
  }
  p{
    color: #aaa;
  }
  h1{
    font-weight: bolder;
  }
  .like{
    background-color: rgb(73, 156, 73);
    color: white;
  }
  .dislike{
    background-color: rgb(238, 231, 231);
  }
  mat-card-title{
    color: black;
  }
 